<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Department</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="header">
    <h1>Hospital Management System</h1>
    <p>Department Management</p>
</header>

<main class="container">

    <h2>Edit Department</h2>

    <form method="POST">

        <label>Department Name</label>

        <input type="text"
               name="department_name"
               value="{{ department.department_name }}"
               required>

        <br><br>

        <label>Description</label>

        <textarea name="description">{{ department.description }}</textarea>

        <br><br>

        <button type="submit">Update Department</button>

        <a href="/departments" class="btn">Cancel</a>

    </form>

</main>

</body>
</html>