<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Hospital Management System</title>
</head>

<body>

    <h1>Hospital Management System</h1>

    <h2>Welcome!</h2>

    <p>Manage patients, doctors, appointments and billing.</p>

    <hr>

    <h3>Hospital Modules</h3>

    <ul>
        <li>Patient Management</li>
        <li>Doctor Management</li>
        <li>Appointment Management</li>
        <li>Department Management</li>
        <li>Billing Management</li>
    </ul>

</body>
</html>